<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>It's Melanie</title>
    <link rel="stylesheet" href="../css/stylesheet.css">
    <link rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merriweather:wght@300&family=Parisienne&display=swap" rel="stylesheet"></head>
<body>


<div class="link-container">
    <h1 class="title">Maria & Mario </h1>
    <h6 class="wedding-date">April 18, 2022</h6>
    <a class="header-link" href="index.html">Home</a>
    <a class="header-link" href="https://www.appbrewery.co/">About Us</a>
    <a class="header-link" href="https://twitter.com/">Events</a>
    <a class="header-link" href="https://www.appbrewery.co/">RSVP</a>
    <a class="header-link" href="https://www.appbrewery.co/">Wedding Party</a>
    <a class="header-link" href="https://www.appbrewery.co/">Travel</a>
    <a class="header-link" href="https://www.appbrewery.co/">Hotels</a>
    <a class="header-link" href="../thingstodo.html">Things To do</a>
    <a class="header-link" href="https://www.appbrewery.co/">Photos</a>
    <a class="header-link" href="https://www.appbrewery.co/">Registry</a>
    <a class="header-link" href="https://www.appbrewery.co/">FAQS</a>
    <hr>
</div>

<div class="top-container">
    <img class="top-cloud" src="images/cloud.png" alt="cloud-img">
    <h1>I'm Melanie</h1>
    <h2>a coder.</h2>
    <img class="bottom-cloud" src="images/cloud.png" alt="cloud-img">
    <img src="images/mountain.png" alt="mountain-img">

</div>
<div class="middle-container">
  <div class="profile">
    <img class="profile_image" src="images/princess.png" alt="princess-img">
    <h2>Hello, World!</h2>
    <p>Lorem ipsum dolor sit amet, vitae volutpat, dui conubia, dolor urna. Non auctor, montes nulla distinctio.</p>
  </div>
  <hr class="design">
  <div class="skills">
    <h2>My Skills.</h2>
    <div class="skill-row">
        <img class="traveler_image" src="images/travel.png" alt="travel-img">
      <h3>A Globe-trotter</h3>
      <p>Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
    </div>
    <div class="skill-row">
        <img class="coding_image" src="images/desktop.png" alt="desktop-img">
      <h3>An aspiring programmer</h3>
      <p>Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.</p>
    </div>
  </div>
  <hr class="design">
  <div class="contact-me">
    <h2>Get In Touch</h2>
    <h3>Lorem ipsum dolor sit amet, non elit.</h3>
    <p>Lorem ipsum dolor sit amet, in quis, aenean amet. Phasellus sodales, tellus donec dui, ornare erat.</p>
    <a class="btn" href="mailto:mm.alcaide38@gmail.com">CONTACT ME</a>
  </div>
</div>

</body>
</html>